<!-- about us area start -->
<section class="about-us-wrapper">
    <div class="container blog-w">
        <div class="about-us-desc">
            <div class="about-us-desc">
                <h2 class="about-us-title">About Us</h2>
            </div>
            <div class="about-us-desc-content">
                <div class="desc-left-content">
                    <!-- left content area -->
                    <div class="about-us-img">
                        <img src="assets/images/about/aboutus.jpg" alt="about us image">
                    </div>
                </div>
                <!-- //. left content area -->

                <div class="desc-right-content">

                    <h3 class="desc-title">Our Short Story</h3>
                    <p>Aliquam eget pulvinar velit. Quisque dui diam, tincidunt id leo ut, commodo iaculis nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean nec ex at nisl venenatis mattis. Duis a fermentum
                        lacus, quis rutrum elit. Sed porta lorem eleifend arcu venenatis, et laoreet mauris consequat.
                    </p>

                    <ul class="counterup">
                        <li>
                            <div class="single-coutnerup">
                                <!-- single counter up -->
                                <span class="countnum">1679</span>
                                <h4 class="count-title">Satisfied customers</h4>
                            </div>
                            <!-- //. single counter up -->
                        </li>
                        <li>
                            <div class="single-coutnerup">
                                <!-- single counter up -->
                                <span class="countnum">5</span>
                                <h4 class="count-title">Years of experience</h4>
                            </div>
                            <!-- //. single counter up -->
                        </li>
                        <li>
                            <div class="single-coutnerup">
                                <!-- single counter up -->
                                <span class="countnum">24</span>
                                <h4 class="count-title">Hours support</h4>
                            </div>
                            <!-- //. single counter up -->
                        </li>
                    </ul>
                </div>
                <!-- //. right content area -->
            </div>
        </div>
    </div>

</section>
<!-- about us area end -->


<!-- team member area start -->
<section class="team-member-aera">
    <div class="container blog-w">
        <div class="ourteam-wrapper">

            <div class="ourteam-center">
                <!-- section title -->
                <div><span class="ourteam-subtitle">We make creative</span></div>
                <h2 class="ourteam-title">Our Lovely Team</h2>
            </div>
            <!-- //. section title -->



            <div class="team-member-wrapper">
                <div class="single-team-member team-member-margin">
                    <!-- single team member -->

                    <img src="assets/images/about/team01.jpg" alt="team member  image">
                    <div class="team-details">
                        <div class="details-inner">
                            <h4 class="name">Alice Liu</h4>
                            <span class="designation">Manager</span>
                        </div>

                    </div>
                </div>
                <!-- //. single team member -->
                <div class="single-team-member team-member-margin">
                    <!-- single team member -->

                    <img src="assets/images/about/team02.jpg" alt="team member  image">
                    <div class="team-details">
                        <div class="details-inner">
                            <h4 class="name">Gursimran Singh</h4>
                            <span class="designation">R&D Manager</span>
                        </div>
                    </div>

                </div>
                <!-- //. single team member -->
                <div class="single-team-member team-member-margin">
                    <!-- single team member -->

                    <img src="assets/images/about/team03.jpg" alt="team member  image">
                    <div class="team-details">
                        <div class="details-inner">
                            <h4 class="name">Inderpreet Sindu</h4>
                            <span class="designation">Founder,Ceo</span>
                        </div>

                    </div>
                </div>
                <!-- //. single team member -->
                <div class="single-team-member">
                    <!-- single team member -->

                    <img src="assets/images/about/team04.jpg" alt="team member  image">
                    <div class="team-details">
                        <div class="details-inner">
                            <h4 class="name">Prem Preet</h4>
                            <span class="designation">Senior Manager</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- //. team member carousel -->

    </div>
</section>
<!-- team member area end -->