<div>
    <div class="d-flex controls">
        <h2>{{title}}</h2>
        <a class="float-right btn btn-success" routerLink="/admin/blogs">Back</a>
    </div>
    <br>
    <br>
    <div class="food-form">
        <div class="card">
            <div class="card-header bg-info"></div>
            <div class="card-body col-sm-10 mx-auto">
                <form method="post" [formGroup]="form">
                    <div class="form-group"><label for="name">Blog Title</label>
                        <input class="form-control" type="text" formControlName="title" name="name" id="name" placeholder="Enter Title" required="">
                    </div>
                    <div class="form-group"><label for="author">Author</label>
                        <input class="form-control" type="text" formControlName="author" name="author" id="author" placeholder="Author" required="">
                    </div>
                    <div class="form-group"><label for="genre">Excerpt</label>
                        <input class="form-control" type="text" formControlName="excerpt" name="excerpt" id="excerpt" placeholder="Excerpt" required="">
                    </div>
                    <div class="form-group"><label for="publishedDate">Published Date</label>
                        <input class="form-control" type="text" formControlName="publishedDate" name="publishedDate" id="publishedDate" placeholder="04/01/2021" required="">
                    </div>
                    <div class="form-group"><label for="image">Image</label>
                        <input class="form-control" type="text" formControlName="image" name="image" id="image" placeholder="blog.jpg" required="">
                    </div>
                    <div class="form-group"><label for="desription">Description</label>
                        <textarea rows="5" cols="40" class="form-control" formControlName="description" name="description" id="description" required=""></textarea>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-danger" [disabled]="!form.valid" (click)="onSubmit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
