<section class="blog-content-container">

    <div class="container blog-w">
        <div class="blog-page-title-container">
            <h2 class="blog-page-title">Blog</h2>
        </div>

        <div class="blog-content-area">


            <div class="blog-content-list" *ngFor="let item of blogs">
                <div class="single-blog">
                    <div class="single-blog-img">
                        <img src="assets/images/blog/{{item.image}}" alt="blog image">
                    </div>
                    <div class="single-blog-content">
                        <h4 class="single-blog-tilte title"><a routerLink="/bloglist/{{item._id}}">{{item.title}}</a></h4>
                        <p [innerHTML]="item.excerpt"></p>
                        <ul class="single-blog-post">
                            <li>By: <a href="#">{{item.author}}</a> </li>
                            <li><i class="far fa-calendar-alt"></i><a href="#">{{item.publishedDate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>