<section class="container">
    <h2>About Atom Inc.</h2>
    <p>We are building the cryptoeconomy – a more fair, accessible, efficient, and
        transparent financial system enabled by crypto.</p>
    <p>
        We started with the radical idea that anyone, anywhere, should be able to easily and securely
        send and receive Bitcoin. Today, we offer a trusted and easy-to-use platform for accessing the broader
        cryptoeconomy.
    </p>
</section>
<section class="container">
    <h2>Featured Coins</h2>
    <div class="card_container">
        <div class="card bg_orange">
            <div class="card_inner">
                <div class="d_flex">
                    <i class="cc BTC text_white crypto"></i>
                    <div class="crypto_title">
                        <h5 class="text_white">Bitcoin</h5>
                        <h6 class="text_white">Realestate</h6>
                    </div>
                </div>
                <div class="d_flex margin_top_2 text_white crypto_value">
                    <div>
                        <span class="font_small">% 1h</span>
                        <p><i class="fa fa-arrow-up"></i> 2.08</p>
                    </div>
                    <div>
                        <span class="font_small">% 24h</span>
                        <p><i class="fa fa-arrow-down"></i> -3.06</p>
                    </div>
                    <div>
                        <span class="font_small">% 7d</span>
                        <p><i class="fa fa-arrow-up"></i> -21.01</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg_cyan">
            <div class="card_inner">
                <div class="d_flex">
                    <i class="cc DASH-alt text_white crypto"></i>
                    <div class="crypto_title">
                        <h5 class="text_white">Dash</h5>
                        <h6 class="text_white">Trading</h6>
                    </div>
                </div>
                <div class="d_flex margin_top_2 text_white crypto_value">
                    <div>
                        <span class="font_small">% 1h</span>
                        <p><i class="fa fa-arrow-up"></i> 1.16</p>
                    </div>
                    <div>
                        <span class="font_small">% 24h</span>
                        <p><i class="fa fa-arrow-down"></i> -1.06</p>
                    </div>
                    <div>
                        <span class="font_small">% 7d</span>
                        <p><i class="fa fa-arrow-up"></i> -0.08</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg_dark">
            <div class="card_inner">
                <div class="d_flex">
                    <i class="cc ETH text_white crypto"></i>
                    <div class="crypto_title">
                        <h5 class="text_white">Ethereum</h5>
                        <h6 class="text_white">Exchange</h6>
                    </div>
                </div>
                <div class="d_flex margin_top_2 text_white crypto_value">
                    <div>
                        <span class="font_small">% 1h</span>
                        <p><i class="fa fa-arrow-up"></i> 1.18</p>
                    </div>
                    <div>
                        <span class="font_small">% 24h</span>
                        <p><i class="fa fa-arrow-down"></i> -3.16</p>
                    </div>
                    <div>
                        <span class="font_small">% 7d</span>
                        <p><i class="fa fa-arrow-up"></i> -10.01</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg_red">
            <div class="card_inner">
                <div class="d_flex">
                    <i class="cc EOS text_white crypto" title="BTC"></i>
                    <div class="crypto_title">
                        <h5 class="text_white">Xmr</h5>
                        <h6 class="text_white">Invest</h6>
                    </div>
                </div>
                <div class="d_flex margin_top_2 text_white crypto_value">
                    <div>
                        <span class="font_small">% 1h</span>
                        <p><i class="fa fa-arrow-up"></i> 2.18</p>
                    </div>
                    <div>
                        <span class="font_small">% 24h</span>
                        <p><i class="fa fa-arrow-down"></i> -0.16</p>
                    </div>
                    <div>
                        <span class="font_small">% 7d</span>
                        <p><i class="fa fa-arrow-up"></i> -501</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="market_display">
        <h2>Today's Prices by Market Cap</h2>
        <table>
            <thead>
                <tr>
                    <th class="text_left">#</th>
                    <th class="text_left">Name</th>
                    <th>Price</th>
                    <th>24h</th>
                    <th>7d</th>
                    <th>Market Cap</th>
                    <th>Volume</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text_left">
                        <p>1</p>
                    </td>
                    <td class="text_left">
                        <i class="cc BTC"></i>
                        Bitcoin <span class="abbr">BTC</span>
                    </td>
                    <td>$48,880.28</td>
                    <td class="market_up">
                        <i class="fas fa-sort-up"></i>
                        <span>12.17%</span>
                    </td>
                    <td class="market_down">
                        <i class="fas fa-sort-down"></i>
                        <span>15.18%</span>
                    </td>
                    <td>$881,038,894,314</td>
                    <td>$5,692,778,088,953 <p>120,452,426 BTC</p>
                    </td>
                </tr>
                <tr>
                    <td class="text_left">
                        <p>2</p>
                    </td>
                    <td class="text_left">
                        <i class="cc ETH"></i>
                        Ethereum <span class="abbr">ETH</span>
                    </td>
                    <td>$1,539.91</td>
                    <td class="market_up">
                        <i class="fas fa-sort-up"></i>
                        <span>117.25%</span>
                    </td>
                    <td class="market_down">
                        <i class="fas fa-sort-down"></i>
                        <span>18.77%</span>
                    </td>
                    <td>$173,595,878,619</td>
                    <td>$173,015,717,070 <p>114,485,046 ETH</p>
                    </td>
                </tr>
                <tr>
                    <td class="text_left">
                        <p>3</p>
                    </td>
                    <td class="text_left">
                        <i class="cc ADA"></i>
                        Cardano <span class="abbr">ADA</span>
                    </td>
                    <td>$1.30</td>
                    <td class="market_up"><i class="fas fa-sort-up"></i>
                        <span>7.28%</span>
                    </td>
                    <td class="market_up"><i class="fas fa-sort-up"></i>
                        <span>18.68%</span>
                    </td>
                    <td>$39,731,045,104</td>
                    <td>$12,298,440,492 <p>9,889,354,319 ADA</p>
                    </td>
                </tr>
                <tr>
                    <td class="text_left">
                        <p>4</p>
                    </td>
                    <td class="text_left">
                        <i class="cc BNB"></i>
                        Binance Coin <span class="abbr">BNB</span>
                    </td>
                    <td>$250.88</td>
                    <td class="market_down"><i class="fas fa-sort-down"></i>
                        <span>1.55%</span>
                    </td>
                    <td class="market_up"><i class="fas fa-sort-up"></i>
                        <span>3.17%</span>
                    </td>
                    <td>$38,803,338,550</td>
                    <td>$5,127,921,207 <p>20,421,747 BNB</p>
                    </td>
                </tr>
                <tr>
                    <td class="text_left">
                        <p>5</p>
                    </td>
                    <td class="text_left">
                        <i class="cc USDT"></i>
                        Tether <span class="abbr">USDT</span>
                    </td>
                    <td>$1.00</td>
                    <td class="market_down"><i class="fas fa-sort-down"></i>
                        <span>0.02%</span>
                    </td>
                    <td class="market_up"><i class="fas fa-sort-up"></i>
                        <span>0.12%</span>
                    </td>
                    <td>$35,434,735,511</td>
                    <td>$97,948,767,293 <p>97,914,637,051 USDT</p>
                    </td>
                </tr>
                <tr>
                    <td class="text_left">
                        <p>6</p>
                    </td>
                    <td class="text_left">
                        <i class="cc POT"></i>
                        Polkadot <span class="abbr">DOT</span>
                    </td>
                    <td>$36.76</td>
                    <td class="market_up"><i class="fas fa-sort-up"></i>
                        <span>4.94%</span>
                    </td>
                    <td class="market_up"><i class="fas fa-sort-up"></i>
                        <span>2.21%</span>
                    </td>
                    <td>$33,030,269,029</td>
                    <td>$3,606,639,206 <p>99,848,682 DOT</p>
                    </td>
                </tr>
                <tr>
                    <td class="text_left">
                        <p>7</p>
                    </td>
                    <td class="text_left">
                        <i class="cc XRP"></i>
                        XRP <span class="abbr">XRP</span>
                    </td>
                    <td>$0.4421</td>
                    <td class="market_up"><i class="fas fa-sort-up"></i>
                        <span>2.55%</span>
                    </td>
                    <td class="market_down"><i class="fas fa-sort-down"></i>
                        <span>18.29%</span>
                    </td>
                    <td>$20,051,242,555</td>
                    <td>$3,533,332,522 <p>8,000,877,282 XRP</p>
                    </td>
                </tr>
                <tr>
                    <td class="text_left">
                        <p>8</p>
                    </td>
                    <td class="text_left">
                        <i class="cc PINK"></i>
                        Chainlink <span class="abbr">LINK</span>
                    </td>
                    <td>$29.14</td>
                    <td class="market_up"><i class="fas fa-sort-up"></i>
                        <span>9.99%</span>
                    </td>
                    <td class="market_up"><i class="fas fa-sort-up"></i>
                        <span>0.14%</span>
                    </td>
                    <td>$2,821,587,186</td>
                    <td>$3,533,332,522 <p>97,235,701 LINK</p>
                    </td>
                </tr>
                <tr>
                    <td class="text_left">
                        <p>9</p>
                    </td>
                    <td class="text_left">
                        <i class="cc LTC"></i>
                        Litecoin <span class="abbr">LTC</span>
                    </td>
                    <td>$179.16</td>
                    <td class="market_up"><i class="fas fa-sort-up"></i>
                        <span>4.11%</span>
                    </td>
                    <td class="market_down"><i class="fas fa-sort-down"></i>
                        <span>11.34%</span>
                    </td>
                    <td>$4,757,650,676</td>
                    <td>$3,533,332,522 <p>27,394,285 LTC</p>
                    </td>
                </tr>
                <tr>
                    <td class="text_left">
                        <p>10</p>
                    </td>
                    <td class="text_left">
                        <i class="cc XLM"></i>
                        Stellar <span class="abbr">XLM</span>
                    </td>
                    <td>$0.4260</td>
                    <td class="market_up"><i class="fas fa-sort-up"></i>
                        <span>1.94%</span>
                    </td>
                    <td class="market_down"><i class="fas fa-sort-down"></i>
                        <span>2.73%</span>
                    </td>
                    <td>$9,483,703,451</td>
                    <td>$1,401,310,556 <p>3,327,897,648 XLM</p>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</section>
<section id="diagram">
    <div class="container">
        <div>
            <h2>How Atom Incoporates On Kyber’s On-chain Protocol</h2>
            <p>Kyber is the liquidity infrastructure for decentralized finance. Kyber aggregates
                liquidity from diverse sources into a single pool, which provides the best rates for takers such
                as DApps, Wallets, DEXs, and End users.</p>
            <p>Transactions on Kyber are fully on-chain and thus fully transparent and verifiable.
            </p>
        </div>
        <div>
            <img src="assets/images/diagram.svg" alt="Atom-Khyber Integration" width="727" height="357" />
        </div>
    </div>
</section>