<section id="diagram">
    <div class="container">
        <div>
            <h2>How Atom Incoporates On Kyber’s On-chain Protocol</h2>
            <p>Kyber is the liquidity infrastructure for decentralized finance. Kyber aggregates
                liquidity from diverse sources into a single pool, which provides the best rates for takers such
                as DApps, Wallets, DEXs, and End users.</p>
            <p>Transactions on Kyber are fully on-chain and thus fully transparent and verifiable.
            </p>
        </div>
        <div>
            <img src="assets/images/diagram.svg" alt="Atom-Khyber Integration" width="727" height="357" />
        </div>
    </div>
</section>