<section class="container">
    <h2>What Are Cryptocurrencies?</h2>
    <p>A cryptocurrency, broadly defined, is virtual or digital money which takes the form of tokens or “coins.”
        While some cryptocurrencies have ventured into the physical world with credit cards or other projects,
        the large majority remain entirely intangible.</p>
    <p>
        The “crypto” in cryptocurrencies refers to complicated cryptography which allows for the creation and
        processing of digital currencies and their transactions across decentralized systems. Alongside this
        important “crypto” feature of these currencies is a common commitment to decentralization;
        cryptocurrencies are typically developed as code by teams who build in mechanisms for issuance (often,
        although not always, through a process called “mining”) and other controls.
    </p>
</section>