<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/admin-style.css">

<div class="wrapper d-flex align-items-stretch">
    <div id="sidebar" class="">
        <div class="p-3 pt-5">
            <h1><a routerLink="coins" class="logo">Admin</a></h1>
            <br/><br/>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a routerLink="">Home</a>
                </li>
                <li>
                    <a routerLink="coins">Coins</a>
                </li>
                <li>
                    <a routerLink="plans">Plans</a>
                </li>
                <li>
                    <a routerLink="transactions">Transactions</a>
                </li>
                <li>
                    <a routerLink="blogs">Blogs</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Page Content  -->
    <div id="content" class="p-3 pt-5">
        <router-outlet></router-outlet>
    </div>
</div>